/*** RESET ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** COMMON ***/

body {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
}

/*** HEADER ***/

header h1 {
    font-family: 'Nerko One', cursive;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 3px #9d8e7c;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

section {
    width: 100%;
}

img {
    width: 100%;
    display: block;
}

/*** MAIN ***/

main {
    background-color: #f6f5f3;
    padding-top: 20px;
}

main .introduction .category {
    color: #999;
    text-transform: uppercase;
}

main .introduction h2 {
    color: #4e3969;
    padding: 15px 0;
}

main .introduction h2 .additional-title {
    display: none;
}

.card {
    background-color: #fff;
    box-shadow: 1px 3px 5px #e2e0e1;
}

.card .bottom-card {
    padding: 30px;
}

.card h3 {
    padding-bottom: 30px;
}
.card .bottom-card .description-card > * {
    padding-bottom: 25px;
}

/*** RESPONSIVE */

@media screen and (min-width: 768px) {
    .container {
        padding: 0 60px;
    }

    header h1 {
        text-align: left;
    }

    main .introduction h2 {
        font-size: 30px;
    }

    main .introduction h2 .additional-title {
        display: inline;
    }

    .card .bottom-card .description-card {
        display: flex;
        flex-wrap: wrap;
    }

    .card .bottom-card .description-card div {
        width: calc(100% / 3);
    }
}
