/*** RESET ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** COMMON ***/

body {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
}

/*** HEADER ***/

header h1 {
    font-family: 'Nerko One', cursive;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 3px #9d8e7c;
}

/*** MAIN ***/

main {
    background-color: #f6f5f3;
}

/*** RESPONSIVE */

@media screen and (min-width: 768px) {
    header h1 {
        text-align: left;
    }
}
